<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./l2-feedback.component.css">
</head>
<body>
    <div class="feedbackcontainer">
    <h1>Feedback</h1>
    <div class="feedback">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis molestiae deserunt quod deleniti numquam animi tempora, ab iusto dolores nisi officiis id dolor.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, expedita atque? Assumenda eaque sapiente quae ad. Itaque recusandae obcaecati asperiores, necessitatibus doloremque expedita harum eum laudantium quos amet quibusdam nihil dolorum ipsam ipsum, impedit ab. Sed possimus ipsum exercitationem in totam officiis delectus eius ullam?
    </div>
    <div class="fbbtns">
        <button class="fbbtn">Reject</button>
        <button class="fbbtn">Select</button>
    </div>
</div>
</body>
</html>
