<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./position-status.component.css">
</head>
<body>
    <table class="positiontable">
        <tr>
          <th><h3>Postion ID</h3></th>
          <th><h3>Position Name</h3></th>
          <th><h3>L0</h3></th>
          <th><h3>L1</h3></th>
          <th><h3>L2</h3></th>
          <th><h3>L3</h3></th>
          <th><h3>L4</h3></th>
        </tr>
        </tr>
        <tr>
            
          <td><button class="posbtn">1</button></td>
          <td>Java Developer</td>
          <td>Pending...</td>
          <td>Pending...</td>
          <td>Pending...</td>
          <td>Pending...</td>
          <td>Pending...</td>
        
        </tr>
        <tr>
            <td><button class="posbtn">1</button></td>
            <td>Java Developer</td>
            <td>Pending...</td>
            <td>Pending...</td>
            <td>Pending...</td>
            <td>Pending...</td>
            <td>Pending...</td>
          </tr>
          <tr>
            <td><button class="posbtn">1</button></td>
            <td>Java Developer</td>
            <td>Pending...</td>
            <td>Pending...</td>
            <td>Pending...</td>
            <td>Pending...</td>
            <td>Pending...</td>
          </tr>
          <tr>
            <td><button class="posbtn">1</button></td>
            <td>Java Developer</td>
            <td>Pending...</td>
            <td>Pending...</td>
            <td>Pending...</td>
            <td>Pending...</td>
            <td>Pending...</td>
          </tr>
          <tr>
            <td><button class="posbtn">1</button></td>
            <td>Java Developer</td>
            <td>Pending...</td>
            <td>Pending...</td>
            <td>Pending...</td>
            <td>Pending...</td>
            <td>Pending...</td>
          </tr>
          <tr>
            <td><button class="posbtn">1</button></td>
            <td>Java Developer</td>
            <td>Pending...</td>
            <td>Pending...</td>
            <td>Pending...</td>
            <td>Pending...</td>
            <td>Pending...</td>
          </tr>
          <tr>
            <td><button class="posbtn">1</button></td>
            <td>Java Developer</td>
            <td>Pending...</td>
            <td>Pending...</td>
            <td>Pending...</td>
            <td>Pending...</td>
            <td>Pending...</td>
          </tr>
          <tr>
            <td><button class="posbtn">1</button></td>
            <td>Java Developer</td>
            <td>Pending...</td>
            <td>Pending...</td>
            <td>Pending...</td>
            <td>Pending...</td>
            <td>Pending...</td>
          </tr>
      </table>
</body>
</html>
