<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./l2-status.component.css">
</head>
<body>
    <h1>L2 Java Developer</h1>
    <table class="statustable">
        <tr>
          <th><h3>Applicant Name</h3></th>
          <th><h3>Email</h3></th>
          <th><h3>Number</h3></th>
          <th><h3>Degree</h3></th>
          <th><h3>Resume</h3></th>
          <th><h3>Feedback</h3></th>
        </tr>
        <tr>
            
          <td>rushikesh</td>
          <td>rushikeshgmail.com</td>
          <td>123456789</td>
          <td>BE</td>
          <td>file</td>
          <td><button class="feedbackbtn">View</button></td>
        
        </tr>
        <tr>
            <td>rushikesh</td>
          <td>rushikeshgmail.com</td>
          <td>123456789</td>
          <td>BE</td>
          <td>file</td>
          <td><button class="feedbackbtn">View</button></td>
          </tr>
          <tr>
            <td>rushikesh</td>
            <td>rushikeshgmail.com</td>
            <td>123456789</td>
            <td>BE</td>
            <td>file</td>
            <td><button class="feedbackbtn">View</button></td>
          </tr>
          <tr>
            <td>rushikesh</td>
            <td>rushikeshgmail.com</td>
            <td>123456789</td>
            <td>BE</td>
            <td>file</td>
            <td><button class="feedbackbtn">View</button></td>
          </tr>
          <tr>
            <td>rushikesh</td>
          <td>rushikeshgmail.com</td>
          <td>123456789</td>
          <td>BE</td>
          <td>file</td>
          <td><button class="feedbackbtn">View</button></td>
          </tr>
          <tr>
            <td>rushikesh</td>
            <td>rushikeshgmail.com</td>
            <td>123456789</td>
            <td>BE</td>
            <td>file</td>
            <td><button class="feedbackbtn">View</button></td>
          </tr>
          <tr>
            <td>rushikesh</td>
            <td>rushikeshgmail.com</td>
            <td>123456789</td>
            <td>BE</td>
            <td>file</td>
            <td><button class="feedbackbtn">View</button></td>
          </tr>
          <tr>
            <td>rushikesh</td>
            <td>rushikeshgmail.com</td>
            <td>123456789</td>
            <td>BE</td>
            <td>file</td>
            <td><button class="feedbackbtn">View</button></td>
          </tr>
      </table>
</body>
</html>

