body{
    display: flex;  
    justify-content: center;
    background-color: rgb(254, 250, 250);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
  }

  .requesttable{
   background-color: rgb(255, 255, 255);
    text-align: center;
   width: 55vw;
   margin-left: 20px;
  }

  .movebtn{
    cursor: pointer;
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgb(96, 252, 57)
  }

  .requesttable .movebtn:hover{
    background-color: aliceblue;

  }

  