<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./generate-request.component.css">
</head>
<!--  jobid!: number;
    dept_name!: string;
    positionname!: string;
    number_of_pos!: number; -->
<body>
    <div class="form-container">
        <h2>Job Vacancy Form</h2>
        <form  (ngSubmit)="onSubmit()">
            <label for="department">Department Name:</label>
            <input [(ngModel)]="position.dept_name" type="text" id="department" name="dept_name" required>

            <label for="position_id">Position ID:</label>
            <input [(ngModel)] = "position.jobid" type="number" id="position_id" name="jobid" required>

            <label for="position_name">Position Name:</label>
            <input [(ngModel)] ="position.positionname" type="text" id="position_name" name="positionname" required>

            <label for="vacancies">Number of Vacancies:</label>
            <input [(ngModel)]="position.number_of_pos"  type="number" id="vacancies" name="number_of_pos" required>

            <button type="submit">Generate Request</button>
        </form>
    </div>
</body>
</html>

